.extern{
    height: 555px;
}

.contain{
    background-color: rgba(6, 7, 18, 0.6);
    width: 50%;
    margin-left: 25%;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-top: 10px;
    height: 535px;
    color: white;
}

.types{
    display: flex;
    flex-wrap: wrap;
}

.types button{
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    border-radius: 10px;
    border-color: yellow;
    height: 25px;
    background-color: rgba(10, 119, 152, 0.74);
    color: white;
}

.types button:hover{
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    border-radius: 10px;
    border-color: rgba(10, 119, 152, 0.74);
    height: 25px;
    background-color: rgba(240, 249, 56, 0.81);
    color: black;
}

.types ul{
    list-style: none;
    display: flex;
}

.types ul a{
    color: white;
    margin-left: 10px;
}

.contain .intern{
    margin-left: 20%;
    width: 60%;
}

.contain .intern input{
    height: 20px;
    display: block;
    border-radius: 5px;
}

.contain .intern input[type=submit]{
    height: 35px;
    width: 65px;
    margin-top: 10px;
    margin-left: 30%;
    background-color: rgba(10, 170, 219, 0.74);
    border-color: white;
    color: white;
}

.contain .intern input[type=submit]:hover{
    height: 35px;
    width: 65px;
    margin-top: 10px;
    margin-left: 30%;
    background-color: white;
    border-color: rgba(10, 170, 219, 0.74);
    color: black;
}