.paginate{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 5px 5px;
}

.number{
    padding-right: 5px;
    padding-left: 5px;
    background-color: rgba(6, 7, 18, 0.6);
    margin-bottom: 20px;
}

.number :hover{
    padding-right: 5px;
    padding-left: 5px;
    background-color: rgba(245, 246, 248, 0.6);
    color: black;
    font-weight: 600;
}

.number a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
