.container{
    background-color: rgba(6, 7, 18, 0.9);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.item{
    text-decoration: none;
    color: white;
    
}

.menu :hover{
    background-color: rgb(255, 255, 255);
    color: black;
    font-weight: 600;
}